$white: #FFFFFF;
$navy: #111827;

$gray-1: #F9FAFB;
$gray-2: #F3F4F6;
$gray-3: #E5E7EB;
$gray-4: #D1D5DB;
$gray-5: #9CA3AF;
$gray-6: #6B7280;
$gray-7: #4B5563;
$gray-8: #374151;
$gray-9: #1F2937;

$light-blue: #E3F5FF;
$blue: #008EE2;
$aqua: #1A8BAC;
$green: #0F903E;
$yellow-green: #80B40C;
$yellow: #C7B804;
$orange: #D68B00;
$red-orange: #D1520D;
$red: #A31616;
